<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<title>Chat</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<!-- HEADER -->

<div class="layout">
    <!-- SIDEBAR -->
    <div class="sidebar">
        <form action="/novo" method="post">
            <img class="icon" src="{{ url_for('static', filename='../static/image/chatbot.png') }}" alt="Novo chat">
            <br>
            <button> Novo chat</button>
        </form>

        {% for c in chats %}
            <a href="/chat/{{c.id}}">
                {{ c.titulo if c.titulo else "Chat " ~ c.id }} <!--Se existir título, mostre o título senão, mostre 'Chat + id'-->
            </a>
        {% endfor %}
    </div>
    
    <!-- CHAT -->
    <div class="chat">

        {% if chat_id %}

            <div class="mensagens">
                {% for m in mensagens %} <!--Para cada mensagem dentro da lista mensagens, execute esse bloco-->
                    <div class="msg user">{{m.pergunta}}</div> <!--Parte 2: Captura da pergunta-->
                    <div class="msg ia">{{m.resposta}}</div> <!--Parte 6: Exibe a resposta da IA-->
                {% endfor %}
            </div>

            <form method="post" action="/chat/{{chat_id}}" class="form">
                <input type="text" name="pergunta" placeholder="Digite..." required>
                <button>Enviar</button>
            </form>

        {% else %}
            <h2 style="margin:auto">Crie ou selecione um chat</h2>
        {% endif %}

    </div>

</div>

</body>
</html>